.loader {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/loading-svgrepo.svg);
    background-size: contain;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
